
.git/
.gitignore
.idea/
.vscode/
venv/
.env
*.pyc
__pycache__/
*.log
db_data/
query/query_data/
*.db
*.sqlite3

!Dockerfile
!docker-compose.yml
!requirements.txt
!src/
!app/
!main.py
!query/query_txt/
!init.sql
!db/